.dashboard {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.project_name {
  display: flex;
  gap: 10px;
}

.label {
  font-size: 1.6rem;
  font-weight: bold;
}

.value {
  font-size: 1.5rem;
}

.tools_container {
  list-style: none;
  display: flex;
  gap: 25px;
}

.dashboard_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dashboard_btn {
  color: white;
  text-align: center;
  background-color: #5075c5;
  font-size: 1rem;
  padding: 0.8em 1.4em;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.dashboard_btn:hover {
  background-color: #5075c1;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
