.text_res_container {
  height: 87vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.text_res_container pre {
  font-size: 13px;
}

.images_res_container {
  height: 87vh;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  width: 100%;
}
