.form {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project_name {
  font-size: 1.5rem;
}

.heading {
  font-size: 1.5rem;
  background-color: #5075c5;
  color: white;
  padding: 0.3em;
  border-radius: 15px;
  align-self: flex-start;
}

.independent_num input {
  width: 70px;
  padding: 0 5px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

input {
  font-size: 18px;
}

select {
  font-size: 18px;
}

option {
  font-size: 20px;
}

button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #5075c5;
  color: white;
  font-weight: bold;
  font-size: 17px;
  width: 100px;
}
