.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.predictiveModelPage {
  height: 95%;
  width: 95%;
  display: flex;
  gap: 10px;
}

.form_container {
  width: 45vw;
}

.result_container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show_res_btn {
  align-self: center;
}
